<h1>Q &amp; A</h1>
<hr/>

<div class="list-group container-fluid">
  <div class="form-inline" role="form">
    <%= form_for @question do |f|%>
      <div class="form-group">
        <%= f.text_area :title, :class => "form-control", :placeholder => "Ask a question"%>
      </div>
      <div class="form-group">
        <%= f.text_area :description, :class => "form-control", :placeholder => "More info"%>
      </div>
      <div class="form-group">
        <%= f.text_area :tags, :class => "form-control", :placeholder => "Add a tag"%>
      </div>
      <div class="form-group">
        <div class="col-lg-6 col-lg-offset-2 text-right">
          <%= f.submit  "Submit", class: 'btn btn-primary'%>
        </div>
      </div>
    <%end%>
  </div>
</div>

<ul class="list-group container-fluid">
  <li class="active list-group-item">
    <div class="row">
      <div class="col-xs-1">
        Tag
      </div>
      <div class="col-xs-5">
        Question
      </div>   
      <div class="col-xs-2">
        Date
      </div> 
      <div class="col-xs-2">
        User
      </div>  
      <div class="col-xs-1 text-center">
        Votes
      </div>
      <div class="col-xs-1 text-center">
        Answers
      </div>
  </li>
  <li class="list-group-item">
    <% @questions.each do |question|%>
      <div class="row">
        <div class="col-xs-1">
          <span class="label label-default"><%= question.tags %></span>
        </div>
        <div class="col-xs-5">
          <%=link_to question.title, question_path(question.id) %>
        </div>
        <div class="col-xs-2">
          <%= formatted_date(question.created_at)%>
        </div>
        <div class="col-xs-2">
          <%= question.user.try(:name)%>
        </div>
        <div class="col-xs-1 text-center">
          <%= question.vote_average %>
        </div>
        <div class="col-xs-1 text-center">
          <%= question.answers.count %>
        </div>
      </div>
      <hr>
    <%end%>
  </li>  
</ul>
    