<h1>Q &amp; A</h1>
<hr/>

<div class="list-group container-fluid">
  <div class="form-inline" role="form">
    <div class="form-group">
      <%= form_for @question do |f|%>
        <%= f.text_area :title, :class => "form-control", :placeholder => "Ask a question"%>
        <%= f.text_area :description, :class => "form-control", :placeholder => "Talk about it a lil"%>
        <%= f.text_area :tags, :class => "form-control", :placeholder => "whats it abouut"%>
        <%= f.submit "Ask a question!" %>
      <%end%>
    </div>
</div>

<ul class="list-group container-fluid">
  <li class="list-group-item">
    <% @questions.each do |question|%>
    <div class="row">
          <%= formatted_date(question.created_at)%>
          <%=link_to question.title, question_path(question.id) %>
        
        <div class="col-xs-2">
          <%= question.tags %>
        </div>
        <div class="col-xs-2">
          <%= question.user.try(:name)%>
        </div>
    </div>
    <hr>
<%end%>
    