<h1>Q &amp; A</h1>
<hr/>

<ul class="list-group container-fluid">
  <li class="list-group-item">
    <div class="row">
        <div class="col-xs-2">
          <%= @question.title %>
        </div>
        <div class="col-xs-2">
          <%=@question.tags%>
        </div>
        <div class="col-xs-2">
          <%=@question.user.try(:name)%>
        </div>
        <div class="col-xs-2">
          <%= formatted_date(@question.created_at)%>
        </div>
    </div>
    <div>
      <%=@question.description %>
    </div>
  </li>
</ul>

<div class="comments container">
  <div class="row">
    <% @answers.each do |answer|%>
    <hr/>
  </div>
  <div class="well well-sm row">
    <img src="http://lorempixel.com/48/48/people" alt="" class="img-circle pull-left" />
    <%= answer.user.try(:name) %> 
    <em><%=formatted_date(answer.created_at)%></em><br>
  </div>
    <%end%>
</div>

<div class="list-group container-fluid">

  <%= link_to "Answer this question!", new_question_answer_path(@question) %>

        
</div>