<h1>Q &amp; A</h1>
<hr/>

<div class="row">
  <div class="col-sm-12">
    <%= link_to "« Back to Photos", photos_path, class: "btn btn-link" %>
  </div>
</div>
<br />

<div class="jumbotron">
  <h2><strong><%= @question.title %></strong></h2>
  <hr/>
  <p><%=@question.description %></p>
  <p><strong><small><%=@question.user.try(:name)%></small></strong></p>
  <p><small><%= formatted_date(@question.created_at) %></small></p>
  <% @question.tag_list.each do |tag| %>
    <span class="label label-primary"><%= tag %></span>
  <% end %>
</div>

<%= link_to "Answer", new_question_answer_path(@question), :class => "btn btn-primary pull-right" %>
<h3>Answers</h3>
<hr/>

<div class="row comments container">
  <% @answers.each do |answer|%>
    <div class="col-sm-12 well well-sm">
      <!-- Here I am passing the size I want (number 48), together with email -->
      <%= image_tag gravatar(answer.user.email, 48), :class => "img-circle pull-left" %>
      <%= answer.user.try(:name) %> 
      <em>on <%=formatted_date(answer.created_at)%></em><br>
      <%= answer.description %>
    </div>
  <%end%>
</div>