<div class="form-horizontal">
  <fieldset>
  <%= form_tag sessions_path do %>
  <div class="form-group">
      <%= label_tag :email, nil, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= text_field_tag :email, nil, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag "password", nil,  class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= password_field_tag :password, nil, class: 'form-control'%>
      </div>
      </div>
    <div class="form-group">
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <%= submit_tag  "Log In", class: 'btn btn-default'%>
      </div>
    </div>
  </fieldset>
  <%end%>
</div>
      
