<div class="form-horizontal" style="margin-left: 437px;">
  <fieldset>
<%= form_for([@location, @location_comments]) do |f| %>
  <% if @location_comments.errors.any? %>
    <div class="alert alert-dismissable alert-danger">
      <%= pluralize(@location_comments.errors.count, "error") %> prevented the location_comments from being saved:
      <ul class="list-unstyled">
        <% @location_comments.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.select(:vote, [["Fresh or false?", nil], ["Fresh", 100], ["False", 0]], {}, {:class => "form-control", :style => 'width:150px'})%>
  </div>
  <div>
    <%= f.submit "Submit", :class => "btn btn-primary", :style => "margin-left 445px" %>
  </div>
</fieldset>
<% end %>
</div>

