<h1><%= @user.name %></h1>
<hr/>

<div class="list-group">
  <div class="row">

      <div class="col-sm-3">
        <%= image_tag gravatar(@user.email, 250), :class => "img-thumbnail" %>
      </div>

      <div class="col-sm-9">


        <div class="row">
          <div class="row">
            <div class="col-sm-2">
              <%= link_to "Upload avatar", "https://en.gravatar.com/", class: "btn btn-success"%>
            </div>
            <div class="col-sm-2">
              <p><%= link_to "Upload Photos", new_photo_path, class: "btn btn-success" %></p>
            </div>
            <div class="col-sm-8">
              <p><%= link_to "Upload Video", new_video_path, class: "btn btn-success" %></p>
            </div>
          </div>
         </div>

        <div class="row">
          <form class="form-inline" role="form">
            <div class="form-group">
              <h4><strong>Update Account</strong><h4>
            </div>
            <div >
              <p><strong>Current: </strong><%= @user.email %></p>
            <div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Email" />
            </div>
            <div class="form-group">
                <button class="btn btn-default">Submit</button>
            </div>
          </form>
        </div>

  </div>



  </div>   <!-- /.row -->
</div> <!-- /.container -->


