<div class="form-horizontal">

<%= form_for @video do |f| %>

  <% if @video.errors.any? %>
    <div>
      <%= pluralize(@video.errors.count, "error") %> prevented this video from being submitted:
      <ul>
        <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Title", :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field "title", :class => 'form-control', :placeholder => 'Title' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "URL", :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field "url", :class => 'form-control', :placeholder => 'URL' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Description", :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area "description", :class => 'form-control', :placeholder => 'Description' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button class="btn btn-default">Cancel</button>
        <%= f.submit "Submit", :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>

</div>
