<h1>Gettin' Shreddy Videos</h1>
<hr/>

<div class="form-horizontal">

<%= form_for @video do |f| %>

  <% if @video.errors.any? %>
    <div>
      <%= pluralize(@video.errors.count, "error") %> prevented this video from being submitted:
      <ul>
        <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.text_field "title", :class => 'form-control', :placeholder => 'Title' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.text_field "url", :class => 'form-control', :placeholder => 'URL' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.text_field "tag_list", :class => 'form-control', :placeholder => 'Tags (Separate With Commas)'  %>
    </div>
  </div> 
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.text_area "description", :class => 'form-control', :placeholder => 'Description' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2 text-right">
      <button class="btn btn-default">Cancel</button>
        <%= f.submit "Submit", :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>

</div>
