<h1><%= @video.title %></h1>
<hr/>

<div class="text-center">
  <p><%= raw(@video.embed(@video.url))%></p>
</div>

<div>
  <p><%= @video.description %></p>
  <small><cite title="Source Title"> <%= @video.user.name %></cite></small>
  <span class="label label-primary">Snowboard</span>
  <small><p>Added: <%= @video.created_at %></p></small>
</div>

<div class="comments container">
  <div class="row">
    <h3>Comments</h3>
    <hr/>
  </div>

  <% @video.video_comments.each do |comment| %>
    <div class="well well-sm row">
      <img src="http://lorempixel.com/48/48/people" alt="" class="img-circle pull-left" />
      <a href="#"><%= comment.user.name %></a> <em><%= comment.created_at %></em><br>
      <%= comment.text %>
    </div>
  <% end %>
    <% unless current_user.name == @video.user.name %>
      <p><%= link_to "Leave a comment", new_video_video_comment_path(@video) %></p>
    <% end %>
  <% unless current_user%>
    <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
  <% end %>
</div>