<h1>Classifieds </h1> 
<hr/>
<%= link_to "Post something!", new_bs_post_path %>

<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default active">All</a>
  <a href="#" class="btn btn-default">Boards<span class="badge"> <%=@bs_posts.where(type: 'Board').length%></span></a>
  <a href="#" class="btn btn-default">Bindings <span class="badge"><%=@bs_posts.where(type: 'Binding').length%></span></a>
  <a href="#" class="btn btn-default">Boots <span class="badge"><%=@bs_posts.where(type: 'Boots').length%></span></a>
  <a href="#" class="btn btn-default">Helmets <span class="badge"><%=@bs_posts.where(type: 'Helmet').length%></span></a>
  <a href="#" class="btn btn-default">Goggles <span class="badge"><%=@bs_posts.where(type: 'Goggles').length%></span></a>
  <a href="#" class="btn btn-default">Apparel <span class="badge"><%=@bs_posts.where(type: 'Apparel').length%></span></a>
</div>

<br>
<% @bs_posts.each do |post| %>
<ul class="list-group">
  <li class="list-group-item">
    <%= formatted_date(post.created_at) %>
    <%= post.title %>
    <%= post.type %>
    <%= image_tag(post.image_url(:smallthumb)) %>
    <span class="badge"><%= post.cost %></span>
  </li>
</ul>
<%end%>
