<h1>Sell your shreddy gear!</h1>
<hr/>

<div class="form-horizontal">
  <fieldset>
		<%= form_for @bs_post do |f| %> 

	  <div class="form-group">
	    <div class="col-lg-offset-4 col-lg-4">
				<%= f.text_area "title", :class => 'form-control', :placeholder => 'Title' %>
			</div>
		</div>

	  <div class="form-group">
	  	<div class="col-lg-offset-4 col-lg-4">
				<%= f.text_area "description", :class => 'form-control', :placeholder => 'Description' %>
			</div>
		</div>

	  <div class="form-group">
	  	<div class="col-lg-offset-4 col-lg-4">
				<%= f.text_area "type", :class => 'form-control', :placeholder => 'Type' %>
			</div>
		</div>

	  <div class="form-group">
	  	<div class="col-lg-offset-4 col-lg-4">
				<%= f.text_area "cost", :class => 'form-control', :placeholder => 'Cost' %>
			</div>
		</div>

	  <div class="form-group">
	  	<div class="col-lg-offset-4 col-lg-4">
	  		<p><strong> Upload Image: </strong></p>
				<%= f.file_field :image%>
			</div>
		</div>

		<div class="form-group">
      <div class="col-lg-6 col-lg-offset-2 text-right">
        <button class="btn btn-default">Cancel</button>
        <%= f.submit "Submit", :class => 'btn btn-primary' %>
      </div>
    </div>

		<%end%>
	</fieldset>
</div>