<h1><%= @bs_post.title %></h1>
<hr/>

<div class="row">

  <div class="col-sm-3">
  <%= image_tag(@bs_post.image_url(:thumb))%>
  </div>

  <div class="well col-sm-3">
    <%= @bs_post.description %>
    <%= @bs_post.type %>
    <%= @bs_post.cost %>
  </div>
</div>

<a href="mailto:<%= @bs_post.user.try(:email)%>"> </a> 
<div class="col-sm-3">
  <%if @current_user_id == @bs_post.user_id %>
  	<%= link_to "Delete", bs_post_path(@bs_post), method: :delete, confirm: "You sure?", class: "btn btn-default" %>
  <%end%>
</div>

