<%= link_to "Back to videos", videos_path%>

<h1>Let Them Know What You Think!</h1>

<%= form_for([@video, @comment]) do |f| %>

  <%= f.label "Text" %> 
  <%= f.text_area "text" %>
  <%= f.submit "Submit"%>

<%end%>
