<h1>Answer#new</h1>
<p>Find me in app/views/answer/new.html.erb</p>

<%= form_for([@question, @answer]) do |f| %>
	<% if @answer.errors.any?%>
		<div>
			<%= pluralize(@answer.errors.count, "error") %>
			prevented the review from being saved: 
			<ul>
				<% @answer.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<%end%>
			</ul>

	<%end%>
	
	<%= f.label "description" %>
	<%= f.text_area "description"%>
	<%= f.label "rate this question"%>
	<%= f.text_area "votes"%> 
	<%=f.submit "Submit"%>

<% end %>


