<h1>Gettin' Shreddy Stills</h1>
<hr/>

<div class="form-horizontal">
  <fieldset>
  <%= form_for @photo, :html => { :multipart => true } do |f| %>

  <% if @photo.errors.any? %>
    <div>
      <%= pluralize(@photo.errors.count, "error") %> prevented this photo from being submitted:
      <ul>
        <% @photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.text_field "title", :class => 'form-control', :placeholder => 'Title'  %>
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.text_area "description", :class => 'form-control', :placeholder => 'Description'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.file_field :image%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.text_field "tag_list", :class => 'form-control', :placeholder => 'Tags (Separate With Commas)'  %>
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2 text-right">
      <%= link_to "« Back to Photos", photos_path, class: "btn btn-link" %>
      <%= f.submit "Submit", :class => 'btn btn-primary' %>
    </div>
  </div>

  </fieldset>
  <%end%>
</div>
