<h1><%= @photo.title %></h1>
<hr/>

<div class="row">
  <div class="col-sm-12">
    <%= link_to "« Back to Photos", photos_path, class: "btn btn-link" %>
  </div>
</div>
<br />

<div class="text-center">
  <%= image_tag @photo.image_url, :class => 'img-thumbnail' %>
</div>
<br/>
<div>
  <p><%= @photo.description %></p>
  <cite title="Source Title">Posted by: <%= @photo.user.name %></cite><br/>
  <small><em>on <%=formatted_date(@photo.created_at)%></em></small><br>
  <% @photo.tag_list.each do |tag| %>
    <span class="label label-primary"><%= tag %></span>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "Comment", "#", :class => "btn btn-primary pull-right", "data-toggle" => "modal", "data-target" => "#myModal" %>
<% else %>
  <%= link_to "Log in", new_session_path, :class => "btn btn-primary pull-right" %>
<% end %>

<h3>Comments</h3>
<hr/>

<%= render 'comments/comments', object: @photo %>
<%= render 'shared/comment_modal' %>
