<h1><%= @photo.title %></h1>
<hr/>

<div class="text-center">
  <%= image_tag @photo.image_url, :class => 'img-thumbnail' %>
</div>

<div>
  <p><%= @photo.description %></p>
  <small><cite title="Source Title">Posted by: <%= @photo.user.name %></cite></small>
  <% @photo.tag_list.each do |tag| %>
    <span class="label label-primary"><%= tag %></span>
  <% end %>
</div>

<div class="comments container">
  <div class="row">
    <h3>Comments</h3>
    <hr/>
  </div>
  <% @photo.photo_comments.each do |comment| %>
    <div class="well well-sm row">
      <img src="http://lorempixel.com/48/48/people" alt="" class="img-circle pull-left" />
      <a href="#"><%= comment.user.name %></a> <em><%= comment.created_at %></em><br>
      <%= comment.comment %>
    </div>
  <% end %>
    <% unless current_user.name == @photo.user.name %>
      <p><%= link_to "Leave a comment", new_photo_photo_comment_path(@photo) %></p>
    <% end %>
  <% unless current_user %>
    <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
  <% end %>
</div>
