<h1><%= @photo.title %></h1>
<hr/>

<div class="text-center">
  <%= image_tag @photo.image_url, :class => 'img-thumbnail' %>
</div>
<br/>
<div>
  <p><%= @photo.description %></p>
  <small><cite title="Source Title">Posted by: <%= @photo.user.name %></cite></small><br/>
  <% @photo.tag_list.each do |tag| %>
    <span class="label label-primary"><%= tag %></span>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "Comment", new_photo_photo_comment_path(@photo), :class => "btn btn-primary pull-right" %>
<% else %>
  <%= link_to "Log in", new_session_path, :class => "btn btn-primary pull-right" %>
<% end %>
<h3>Comments</h3>
<hr/>

<div class="row comments container">
  <% @photo.photo_comments.each do |comment|%>
  <div class="col-sm-12 well well-sm">
    <%= image_tag gravatar(comment.user.email, 48), :class => "img-circle pull-left" %>
    <%= comment.user.try(:name) %> 
    <em>on <%=formatted_date(comment.created_at)%></em><br>
    <%= comment.comment %>
  </div>
  <%end%>
 
</div>

