<h2> <%= @location.title %> </h2>
<hr>

<div class="text-center">
	<%= image_tag(@location.url, size: "700") %> 
</div>

<div class="text-center">
	<blockquote><%= @location.essay %> </blockquote>
</div>

<h3>Reviews of <%= @location.title %></h3>
<%if @comments.count > 0 %>
	<p><%= @location.vote_average%>/10</p>
<%end%>

<%= link_to "upvote", location_upvote_path(@location.id) %>

	<% @comments.each do |comment| %>
	<%= comment.comment %>
	<%= comment.vote %> <br/>
		<%if comment.user %>
			<p style="color:blue;">	<%= comment.user.name%> </p>
		<%end%>
		<% if current_user && current_user.admin %>
			<%= link_to "DESTRUCTION", location_location_comment_path(@location, comment), method: :delete, comfirm: "Are you sure?" %><br/>
		<%end%>

	<%end%>
	<% if current_user%>
		<%= link_to "Write a review!", new_location_location_comment_path(@location) %>
	<%else%>
		Log in to write a review!
	<%end%>

<%= link_to "Back to all mountains", locations_path %> <br/>



