<header>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <a href="/" class="navbar-brand"><em>SNOW'D IN</em></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav nav-pills navbar-right">
            <li class="<%= is_active(questions_path) %>"><%=link_to "Q & A", questions_path %></li>
            <li class="<%= is_active(photos_path) %>"><%=link_to "Photos", photos_path %></li>
            <li class="<%= is_active(videos_path) %>"><%=link_to "Videos", videos_path %></li>
            <li class="<%= is_active(locations_path) %>"><%=link_to "Mountains", locations_path %></li>
            <li class="<%= is_active(posts_all_path) %>"><%=link_to "Classifieds", posts_all_path %></li>
            <!--<li class="<%= is_active(locations_path) %>"><%=link_to "News", locations_path %></li>-->
          
            <% if current_user %>
              <li class="<%= is_active(user_path(current_user.id)) %>">
                <%=link_to "#{current_user.name}", user_path(current_user.id) %>
              </li>
              <li>
                <%= image_tag gravatar(current_user.email, 42), :class => "img-circle" %>
              </li>
            <% else %>
              <li class="<%= is_active(new_session_path) %>">
                <%= link_to "Log in", new_session_path %>
              </li>
              <li class="<%= is_active(new_user_path) %>">
              <%= link_to "Sign Up", new_user_path, class: "btn btn-success", style: "border:0;" %>
              </li>
            <%end%>
          </ul>
        </div>


      </div>
    </div>
  </header>