<!DOCTYPE html>
<html>
<head>
  <title>Powder</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class='menu'>
    <li><%=link_to "Q & A", questions_path %></li>
    <li><%=link_to "Media", media_path %></li>
    <li><%=link_to "Mountains", locations_path %></li>
    <li><%=link_to "Classifieds", bs_posts_path %></li>
    <li><%=link_to "Tips and Deals", locations_path %></li>
    <li><%=link_to "Events", locations_path %></li>
    <li><%=link_to "About", locations_path %></li>
  </ul>

<%= yield %>

</body>
</html>
